.n-underline {
  text-decoration: none;
}

.position-sticky {
  top: 10px;
}

.story {
  &-title {
    font-size: 2em;
  }

  &-details {
    display: inline-flex;
    margin-right: 4px;
    justify-content: space-between;
    align-items: stretch;
    border: 1px solid lightgray;
    border-radius: 4px;
    height: 24px;

    span {
      padding: 0 6px;
      line-height: 1;
    }

    &__div {
      background-color: lightgray;
    }
  }
}

.comments {
  &__btn-ans {
    margin-bottom: 1em;
  }
}

.subcomments {
  padding-left: 1em;
  border-left: 1px solid silver;
  border-radius: 4px;
  margin-bottom: 1em;

  & > p {
    margin-bottom: 0;
  }
}
